<div class="d-flex flex-column justify-content-center align-items-center">
  <ul class="list-unstyled">
    <% @ideas.each do |idea| %>
      <%= link_to idea_path(idea) do %>
        <li class="li-idea p-2 border-bottom"><%= idea.name %></li>
      <% end %>
    <% end %>
  </ul>
</div>
