<div class="d-flex justify-content-center align-items-center text-center h-40 typewriter">
  <div id="typed-strings">
    <p><%= @idea.name %></p>
  </div>
  <h1 id="typed"></h1>
</div>
<div class="d-flex justify-content-center align-items-center">
  <%= link_to "Générer une nouvelle idée", ideas_path, method: :post, class: "btn btn-white btn-rounded" %>
</div>
<div class="d-flex justify-content-center align-items-center mt-3">
  <%= link_to "Voir toutes les idées (dé-)générées", ideas_path %>
</div>
