<% flash.each do |type, msg| %>
  <div class="alert alert-info d-flex align-items-center">
    <p class="m-0"><%= msg %></p>
    <button type="button" class="btn-close ms-3" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"></span>
    </button>
  </div>
<% end %>
