<nav class="navbar p-3">
  <%= link_to root_path do %>
    <h4 class="m-0">Stupid Idea Generator</h4>
  <% end %>
  <% if params[:action] == "index" %>
    <h5 class="m-0"> &nbsp; > Toutes les idées</h5>
  <% end %>

  <%= link_to profile_path, class: 'profile' do %>
    <i class="far fa-user-circle h3 m-0"></i>
  <% end %>
</nav>
