.navbar {
  justify-content: center !important;
  align-content: center;
  align-items: baseline;
  height: 8%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  .profile {
    display: flex;
    position: absolute;
    right: 10px;
    align-self: center;
  }

  .dropdown-menu {
    right: 10px;
    left: auto;
  }
}
