// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "ideas/index";
@import "ideas/show";
@import "pages/index";

body {
  color: white;
  height: 100vh;
  background: linear-gradient(to top left, #7581ff, rgba(255, 153, 150, 0), #ffbb8a),
  linear-gradient(to top right, #ff4775, rgba(255, 153, 150, 0), #00ffff) #ff7070;

  // background: linear-gradient(to top left, #ff4b4b61, rgba(255, 42, 42, 24), #18fff4),
  // linear-gradient(to top right, #3200ffd4, rgba(253, 143, 92, 45), #f18870) #f75353b8;

  // background: linear-gradient(to top left, #ff4b4b61, rgba(255, 42, 42, 24), #18fff4),
  // linear-gradient(to top right, #3200ffd4, rgba(253, 143, 92, 45), #ff7b5c59) #f75353b8;
}

a {
  color: white;
  text-decoration: none;

  &:hover {
    color: rgba(255, 255, 255, 0.788);
  }
}

.main-container {
  height: 85%;
  overflow: auto;
  overflow: auto;
}

@include media-breakpoint-down(md) {
  h5 {
    font-size: 1rem;
  }
}
